.playerWrapper{
    margin-top: 200px;
}

.MycardContainer{
    display: flex;
}


.myBox{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    margin-right: 10px;
}


.addCard{
    margin-top: 30px;
}